#ibox_wrapper {
    line-height:25px;
    border-color:#005577;
}
#ibox_wrapper, #ibox_footer_wrapper a { 
	background:transparent;
	
	/*
	border: 1px solid #cadcea;
	background: #cdf url(../../../../services/?scmd=gensvg&from=4090AD&to=54C0E8) repeat;
    background-image: -o-linear-gradient(top,  #4090AD,  #54C0E8);
    background-image: -ms-linear-gradient(top,  #4090AD,  #54C0E8);
    background-image: -moz-linear-gradient(top,  #4090AD,  #54C0E8);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4090AD), to(#54C0E8));
    background-image: -webkit-linear-gradient(top,  #4090AD,  #54C0E8);
    background-image: linear-gradient(top,  #4090AD,  #54C0E8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4090AD', endColorstr='#54C0E8');
    color: #225b86;
    */
}
#ibox_footer_wrapper {
	font-size:15px;
	color:#ccc;
	text-align:Center;
}
#ibox_content { 
	background-color:#fff; 
	color:#333;
	opacity:0.7;
	border:2px solid #aaa; 
	margin: 35px 5px 5px 5px;
	text-shadow:none;	
	font:14px plain Georgia,Arial;
	padding:2px;
}
#ibox_footer_wrapper {
    line-height: 25px;
    top: 5px;
    right: 5px;
    height: 28px;
}
#ibox_footer_wrapper a {
    text-indent: -100000px;
    border:0;
    background: transparent url('images/closelabel.png') top center no-repeat;
    width: 40px;
    padding: 0;
    height: 25px;
    line-height: 25px;
}
#ibox_footer_wrapper a:hover { background:transparent url('images/closelabelx.png') top center no-repeat;}
#ibox_loading {
    text-indent: -100000px;
    width: 200px;
    height: 200px;
    background: #fff url('images/loading.gif') center center no-repeat;
}
