/apps/
/tmp/
/logs/
/tests/tmp/
/pluginsDev/
/data/sqlite/testdata.db
/config/jsonConfig/
/misc/hooks/
node_modules/
z1/
z2/

config/jsonConfig/

all_keys.cfg
*keys.cfg
keys_*.cfg

.project
.DS_STORE
temp.txt
todos.txt
*.log

