/*CSS3 complained Style sheet*/
html, body {
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
}

#header {
	width:100%;
	height:40px;
	display:none;
}

#sidebar {
	position:fixed;
	z-index:3;
	top:40px;
	left:0;
	bottom: 0;
	width:15%;
	height:100%;
	display:none;
	overflow:auto;
}

#content {
	width:85%;
	height:10%;
	position:fixed;
	top:40px;
	right:0px;
	overflow:auto;
	display:none;
}

#footer {
	float:left;
	position:fixed;
	bottom:5px;
	right:20px;
	font:1em bold Georgia;
	display:none;
	color:#2C89E6;
	z-index:999;
}

