#ibox_wrapper {
    line-height:25px;
    border-color:#fff;
    border:0;
}
#ibox_wrapper, #ibox_footer_wrapper a { 
	background-color:transparent; 	
}
#ibox_content { 
	background-color:#fff; 
	margin: 25px 5px 30px 5px; 
	-moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px;
}
#ibox_footer_wrapper {
    line-height: 25px;
    bottom: 5px;
    top:0;
}
#ibox_footer {
	display:none;
}
#ibox_footer_wrapper a {
    text-indent: -100000px;
    border:0;
    background: transparent url('images/close.png') center center no-repeat;
    width:25px;
    padding: 0;
    height:22px;
    line-height:22px;
}
#ibox_footer_wrapper a:hover { background: transparent url('images/close1.png') center center no-repeat; }
#ibox_loading {
    text-indent: -100000px;
    width: 200px;
    height: 200px;
    background: #fff url('images/loading.gif') center center no-repeat;
}
