#header .right {
	margin-top:7px;
}
#header .right .search {
	margin-top:-5px
}
#header .right select {
	width:200px;
}
#header .search .searchbtn {
	display:none;
}
#sidebar ul li a {
	padding-top:10px;
	height:30px;
	line-height: 40px;
	text-indent: 30px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	color: #AAAAAA;
	/*+text-shadow:0px 1px #0D0D0D;*/
	-moz-text-shadow: 0px 1px #0D0D0D;
	-webkit-text-shadow: 0px 1px #0D0D0D;
	-o-text-shadow: 0px 1px #0D0D0D;
	text-shadow: 0px 1px #0D0D0D;
	background: #494949;
	border-bottom: 1px solid #313131;
	border-top: 1px solid #606060;
}
#sidebar ul li ul li ul {
	margin-left: 20px;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border: none;
}
#sidebar ul li a:hover {
	color: #FFF;
	background-color: #585858;
	/*background-position: 96% -53px !important;	*/
}
#sidebar ul li.current a {
	color:#FFF;
	/*background-color: #585858;	*/	
	background-position: 96% -53px !important;
	border:0px;
}
#sidebar ul li.current a:hover {
	background:$494949;
}
