* {outline: 2px dotted red; }
* * {outline: 2px dotted red; }
* * * {outline: 2px dotted red; }
* * * * {outline: 2px dotted red; }
* * * * * {outline: 2px dotted red; }
* * * * * * {outline: 2px dotted red; }
* * * * * * * {outline: 2px dotted red; }
* * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * {outline: 2px dotted red; }
