body.errorpage {
	width:100%;
	text-align:center;
	margin:0px;
	padding:0px;
	overflow:auto;overflow-x:hidden; 
	
	background:#fff url(../../../media/cssbg/cubes.png) repeat;
}
body.errorpage h1,
	body.errorpage h2,
	body.errorpage h3,
	body.errorpage h4 {
	padding:0px;
	margin:0px;
}

.errorbox {
	margin:auto;margin-top: 5%;
	padding-top: 10px;
	padding-left:40px;
	list-style: none;

	width: 80%;
	max-width: 700px;
	height:330px;
	
	line-height: 100%;
	
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

	border: solid 2px #ddd;
	
	background: rgb(169,228,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,228,247,1)), color-stop(100%,rgba(15,180,231,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
}

.errorbox li {
	list-style: none;
	display: none;
	margin: 0px;
	margin-left: -40px;
	color: #555;
}
.errorbox li.errorCode {
	display: block;
	font-size: 6em;
	margin-top: 30px;
	font-family: sans-serif;
	font-weight: bold;
	height: 60px;
	border-bottom: 1px solid #AAA;
}
.errorbox li.msg_header {
	display: block;
	padding: 12px;
	font-style: normal;
	font-size: 150%;
	color: #777;
}
.errorbox li.msg_body {
	display: block;
	padding: 12px;
	text-align: justify;
	font-size: 12px;
	width: 80%;
	min-width: 300px;
}
.errorbox li.posted_on,
 .errorbox li.posted_by {
	display: block;
	padding: 12px;margin-top: -25px;
	text-align: justify;
	font-size: 12px;
	width: 80%;
	min-width: 300px;
	margin-top: -25px;margin-left:-30px;
}

.pagelinks {
	margin: auto;margin-bottom: 30px;
	padding-left: 0px;
	padding-top: 10px;
	list-style: none;
	width: 80%;
	max-width: 700px;
	height: 30px;
}
.pagelinks li {
	float: left;
	margin-right: 20px;
}
.pagelinks li:last-child {
	margin-right: 0px;
}
.pagelinks li a {
	color: #333;
	text-decoration: none;
	font-family: monospace;
}
.pagelinks li a:hover {
	text-decoration: underline;
}

#footer {
	width: 100%;
	position: fixed;
	bottom: 5px;right:10px;
	font-size: 12px;
	text-align: right;
}
#footer a {
	color: #AAA;
}

#traceholder {
	margin:auto;
	margin-top:10px;
	padding:5px;
	overflow:auto;
	
	width:90%;
	height:200px;
	
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-khtml-border-radius: 1em;
	-o-border-radius: 1em;
	-ms-border-radius: 1em;
	border-radius: 1em;

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	
	border:2px solid #b8c97b;
    background-color: #e5edc4;
    background-image: -o-linear-gradient(top,  #e5edc4,  #d9e4ac);
    background-image: -ms-linear-gradient(top,  #e5edc4,  #d9e4ac);
    background-image: -moz-linear-gradient(top,  #e5edc4,  #d9e4ac);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e5edc4), to(#d9e4ac));
    background-image: -webkit-linear-gradient(top,  #e5edc4,  #d9e4ac);
    background-image: linear-gradient(top,  #e5edc4,  #d9e4ac);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4', endColorstr='#d9e4ac');
    color: #3f7227;
    text-shadow: 0 1px 1px #fff;
}

#traceholder pre, #traceholder h1,#traceholder h2,#traceholder h3,#traceholder h4,#traceholder h5,#traceholder h6 {
	font-size:12px;
	font-weight:normal;
	margin:0px;
	display:inline;	
}
#traceholder pre {
	display:block;	
}

#onlyprint {
	display:none;
}

#errormsg {border:0px solid #aaa;}
#errormsg h4,h5,h6 {margin:0px;padding:0px;}
#errormsg {width:400px;margin:auto;}
#errormsg h1 {color:#9C1F14;font-size:1.8em;}
#errormsg h3 {color:#245A9C;text-align:left;font-size:1.0em;font-weight: 100;}
#errormsg h4 {color:#245A9C;text-align:right;font-size:0.8em;font-weight: 100;}
#errormsg h5 {color:#3C82E6;text-align:right;font-weight: 100;}
#errormsg h6 {color:#3C82E6;text-align:right;font-weight: 100;}

.left {
	float: left !important;
}
.right {
	float: right !important;
}
