.formTable td {
	border:0px;
}
.formTable td.columnEqual {
	font-weight:bold;
}
.formTable .errorMsgRow .columnMsg {
	color:#333;
	padding-right:80px;
	background:#FFEBE0;
	width: 100%
}
.formTable .warnMsgRow .columnMsg {
	color:#333;
	padding-right:80px;
	background:#C9EBFF;
	width: 100%
}
.formTable input, .formTable textarea, .formTable select {
	border:1px solid #BBB;
	font-size: 12px;
	color:#000;
	padding: 1px 4px 1px 4px;
	width:90%;
}
.formTable select,ul.formTable select {
	width:92%;
}
.formTable input[type=radio], .formTable input[type=checkbox] {
	width:20px;
}

.select, select {
	width:92%;
	height:22px;
}
.formTable select,.formTable .select {
	background:#fff;
	height:25px;
}
select[multiple] {
	height:80px !important;
}
.textfield {
	background:#fff;
}

.textarea, textarea  {
	height:50px;
	vertical-align:top;
	padding: 1px 4px 1px 4px;
	color:#000;
	font-size:13px;
	resize:none;
}

.password, input[type=password] {
	text-align:left;
	background: #fff url(images/forms/key.png) no-repeat;
	background-position: right;
}

.datefield, input[type=date] {
	width:150px !important;
	cursor:default;
	text-align:center;
	background: #fff url(images/forms/cal.png) no-repeat;
	background-position: right;
}
.timefield {
	width:150px !important;
	cursor: default;
	text-align:center;
	background: #fff url(images/forms/clock.png) no-repeat;
	background-position: right;
}
.datetimefield {
	width:150px !important;
	cursor: default;
	text-align:center;
	background: #fff url(images/forms/date.png) no-repeat;
	background-position: right;
}

.emailfield, input[type=email] {
	text-align:left;
	background: #fff url(images/forms/email.png) no-repeat;
	background-position: right;
}

.urlfield, input[type=url] {
	text-align:left;
	background: #fff url(images/forms/url.png) no-repeat;
	background-position: right;
}

.phonefield, .telephonefield, input[type=phone] {
	text-align:left;
	background: #fff url(images/forms/call.png) no-repeat;
	background-position: right;
}
.mobilefield {
	text-align:left;
	background: #fff url(images/forms/mobile.png) no-repeat;
	background-position:right;
}
.colorfield, input[type=color] {
	width:30px;
}

.tagfield {
	width:95%;
}

.creditcardfield {
	text-align:left;
	background: #fff url(images/forms/creditcard.png) no-repeat;
	background-position:right;
}
.currencyfield {
	text-align:left;
	background: #fff url(images/forms/money.png) no-repeat;
	background-position:right;
}
.barcodefield {
	text-align:left;
	background: #fff url(images/forms/barcodes.png) no-repeat;
	background-position:right;
}
.filefield,input[type=file] {
	background: transparent url(images/forms/attach.png) no-repeat;
	background-position:right;
}
.filebrowser {
	background:white url(images/forms/filebrowser.png) no-repeat;
	background-position:right;
}
.photobrowser {
	background:white url(images/forms/photobrowser.png) no-repeat;
	background-position:right;
}

.fileuploadedfield {
	background: white url(images/forms/folder_uploaded.png) no-repeat;
	background-position: right;
}
.dataholderfield {
	width:100%;
	text-align:left;
	border:0px;
	background:transparent;
	font-weight:bold;
}

.decimalfield , .numberfield, input[type=number] {
	width:150px !important;
	text-align:center;
}

.searchfield, input[type=search] {
	background: #fff url(images/forms/find.png) no-repeat;
	background-position: right;
	padding-right:21px;
	border: 1px solid #bbb;
	width:95%;
}
.searchfield:focus {
	background-color:#fff;
}
.progressbar, .slider {
	width:95%;
}
/*Progress Bar*/
.progressBar {
	overflow: hidden;
	position: relative;
}

.progressControls {
	position: absolute;
    top:0;
    left:185px;
    width: 100%;
    height:18px;
}

.progress {
    position: relative;
    border-left:1px solid #888;
    border-right:1px solid #888;
    border-top:1px solid #888;
    border-bottom:1px solid #888;
    text-align: center;
    font-weight:bold;
    font-size:14px;
    text-align: center;
    color: #800;
}

.progress, .progressValue, .progressText {
	width: 180px;
	height: 18px;
	overflow: hidden;
}

.progress, .progressValue {
	background: #bdbdbd url(images/forms/progress/prgbg.png) top left repeat;
}

.progressValue {
	background: #0a0 url(images/forms/progress/prgvalue.png) top left repeat;
}

.progressText {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
.progressButtonUp {
	background: url(images/forms/up.png) top left repeat;
	width: 20px;
	height:18px;
	position: absolute;
    top:0;
    left:0px;
    text-align:center;
    text-decoration:none;
    cursor:pointer;
    display:block;
}
.progressButtonDown {
	background: url(images/forms/down.png) top left repeat;
	width: 20px;
	height:18px;
	position: absolute;
    top:0;
    left:25px;
    text-align:center;
    text-decoration:none;
    cursor:pointer;
    display:block;
}

/*Special Property Classes*/
.readonly { background-color:efefef; }
.disabled { background-color:#E3E1DE;border:1px solid #82817F;}

.postselect {display:none}
.onlyprint {display:none;}
.noscreen {display:none;}
.noshow {visibhility:hidden;}

/*Special Fields With Support Icons*/
.field_searchable {background:transparent url(images/forms/find.png) no-repeat center right; width:16px; height:16px;}
.field_popup {background:transparent url(images/forms/popup.png) no-repeat center center;}

.field_progress {background:transparent url(images/forms/progress/pbar.gif) no-repeat center center;}

.field_required {width:16px; height:16px;color:red;}
.field_autocomplete {background:transparent url(images/forms/notify/autocomplete.png) no-repeat center right; width:16px; height:16px;cursor:pointer;}
.field_unique {background:transparent url(images/forms/notify/unique.png) no-repeat center right; width:16px; height:16px;cursor:pointer;}

.field_icon {width:16px;height:16px;}
.field_check {background:transparent url(images/forms/notify/check.png) no-repeat center right;}
.field_error {background:transparent url(images/forms/notify/error.png) no-repeat center right;}
.field_warns {background:transparent url(images/forms/notify/alert.png) no-repeat center right;}
.field_info {background:transparent url(images/forms/notify/info.png) no-repeat center right;}

.stars_on,.stars_off {background:transparent url(images/forms/stars/star.png) no-repeat center center; width:16px; height:16px;}
.stars_off {background:transparent url(images/forms/stars/staroff.png) no-repeat center center;}

.imageholder {background:transparent url(images/forms/img/imageholder.png) no-repeat center center;border:1px solid #aaa;height:98%;width:100%;margin:auto;}
.imageuploader {background:transparent url(images/forms/img/image_up.png) no-repeat center center;border:1px solid #aaa;height:98%;width:100%;margin:auto;}

/*Jquery UI Modifications*/
.ui-progressbar-value {
	background-image: url(images/forms/progress/pbar.gif);
}
.progressbar.ui-progressbar.ui-widget.ui-widget-content, .slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content {
	overflow:hidden;
}
select.ui-datepicker-month, select.ui-datepicker-year {
	width:50% !important;
}
select.ui-state-default {
	opacity:0.7;
}
