/*For FormTable Features*/
.formTable {
	padding:0px;
	border-bottom:1px solid #ddd;
	border-top: 1px solid #ddd;
	border-left:1px solid #ddd;
	border-right: 1px solid #ddd;
	
	font-family:Georgia,Verdana,Seriff;
	font-size:15px;
	
	margin-bottom:0px;
	padding-bottom:0px;
}
.formTable .formheader {
	text-align: center;
	height:20px;	
}

.formTable .formsubheader {
	text-align: left;
	height:20px;
}

.formTable .formfooter {
	text-align: right;
	padding-right:10px;	
	height:20px;
}

.formTable .formtoolbar {
	text-align:center;
}

.formTable td {
	padding: 2px 5px;
	vertical-align:top;
	font: 1.0em bold;
	vertical-align:top;
}
.formTable .divider {
	height:0.5px;
	background:#aaa;
}

.formTable .columnName {
	text-align:right;
	width:200px;	
}

.formTable .columnEqual {
	width:3px;
	text-align:center;
}

.formTable .columnMiddle {
	text-align:left;
	width:120px;
}

.formTable .columnInput {
	text-align:left;	
}
.formTable .columnHelp {
	text-align:left;
	width:50px;
}
.formTable .columnInput .selector {
	overflow:hidden;
}

.formTable .readonly {
	background-color:#efefef;
}
.formTable .readonly {
	background-color:#efefef;
}
.formTable .disabled {
	background-color:#E3E1DE;border:1px solid #82817F;
}
.formTable .progressbar,.formTable .slider {
	width:95%;
}

/*Image Attributes*/
.formTable img {
	border:0px;
}
.formTable img.top {vertical-align:text-top;}
.formTable img.bottom {vertical-align:text-bottom;}
/*FormTable Buttons*/
.formtoolbar_top button {
	width:75px;
	height:30px;
	text-align:center;
	margin-top:3px;
	margin-right:7px;
	margin-left:3px;
	font: bold 12px arial, sans-serif;
}
.formTable button {
	width: 115px;
	height: 35px;
	text-align:center;
	margin-top:10px;
	margin-left:10px;
	font: bold 12px arial, sans-serif;
}
.formTable button.mini {
	width:35px;
	height:25px;
	text-align:center;
	margin-top:10px;
	margin-left:10px;
	font: bold 12px arial, sans-serif;
	padding:0px;
}

.postselect,.onlyprint {display:none}
