.btnicon {
	background:transparent;
	padding:16px;
}

.add_btnicn {background:transparent url(images/icons/buttons/button-add.png) no-repeat center center;}
.remove_btnicn {background:transparent url(images/icons/buttons/button-remove.png) no-repeat center center;}
.check_btnicn {background:transparent url(images/icons/buttons/button-check.png) no-repeat center center;}
.reload_btnicn {background:transparent url(images/icons/buttons/button-load.png) no-repeat center center;}
.help_btnicn {background:transparent url(images/icons/buttons/button-help.png) no-repeat center center;}
.info_btnicn {background:transparent url(images/icons/buttons/button-info.png) no-repeat center center;}
.transfer_btnicn {background:transparent url(images/icons/buttons/button-transfer.png) no-repeat center center;}

.color_btnicn {background:transparent url(images/icons/buttons/button-color.png) no-repeat center center;}
.rss_btnicn {background:transparent url(images/icons/buttons/button-rss.png) no-repeat center center;}
.task_btnicn {background:transparent url(images/icons/buttons/button-task.png) no-repeat center center;}
.mail_btnicn {background:transparent url(images/icons/buttons/button-mail.png) no-repeat center center;}
.chat_btnicn {background:transparent url(images/icons/buttons/button-chat.png) no-repeat center center;}
.link_btnicn {background:transparent url(images/icons/buttons/button-link.png) no-repeat center center;}

.burn_btnicn {background:transparent url(images/icons/buttons/button-burn.png) no-repeat center center;}
.eject_btnicn {background:transparent url(images/icons/buttons/button-eject.png) no-repeat center center;}
.favorite_btnicn {background:transparent url(images/icons/buttons/button-favorite.png) no-repeat center center;}

.next_btnicn {background:transparent url(images/icons/buttons/button-next.png) no-repeat center center;}
.previous_btnicn {background:transparent url(images/icons/buttons/button-previous.png) no-repeat center center;}
.play_btnicn {background:transparent url(images/icons/buttons/button-play.png) no-repeat center center;}
.pause_btnicn {background:transparent url(images/icons/buttons/button-pause.png) no-repeat center center;}
.stop_btnicn {background:transparent url(images/icons/buttons/button-stop.png) no-repeat center center;}
.record-on_btnicn {background:transparent url(images/icons/buttons/button-record-on.png) no-repeat center center;}
.recordbtnicn {background:transparent url(images/icons/buttons/button-record.png) no-repeat center center;}

.circle_btnicn {background:transparent url(images/icons/buttons/button-circle.png) no-repeat center center;}
.rect_btnicn {background:transparent url(images/icons/buttons/button-rect.png) no-repeat center center;}
.pulse_btnicn {background:transparent url(images/icons/buttons/button-pulse.png) no-repeat center center;}
.star_btnicn {background:transparent url(images/icons/buttons/button-star.png) no-repeat center center;}




.btnhover {
	background:transparent;
}
.btnhover:hover {
	opacity:0.5;
}
