/* CSS3 Compliant Stylesheet*/
html,body {
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	
	background: url(../../../media/cssbg/slate.jpg);

	display:block;
	
	font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
	font-size: 12px;
}
img {
	margin-right:2px;
	border:0px;
}
#screentable {
	width:100%;height:100%;
}
#logindiv {
	width:320px;
	height:260px;
	margin-top:-160px;
	
	border:2px solid #356aa0;
	padding: 10px;

	border-radius:1em;	
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-khtml-border-radius: 1em;
	
	border-shodow: 0 1px 50px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 1px 50px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 50px rgba(0, 0, 0, .4);
	box-shodow: 0 1px 50px rgba(0, 0, 0, .4);
}

#loginLogo {
	display: none;
}
#loginHeader {
    font-size: 25pt;
    font-weight: bold;
    color: #aaa;
    text-align:center;
    margin-bottom:10px;   
    
    text-shadow: -1px -1px white, 1px 1px #333; 
    
    display:none;
}
#loginForm {
	width:90%;
	height:125px;
	margin:auto;
	text-align:left;	
	padding:10px;
	padding-top:0px;
	
    border:0px;
    font-size:1em;
}
#loginForm a {
	font-size:14px;
	cursor:pointer;
	color:#333;
	text-decoration:none;
}
#loginForm a:hover {
	text-decoration:underline;
	color:#C1C973;
	font-weight:bold;
}

label {
	float: left;
	width: 70%;
	height: 22px;
	color: #FFF;
	margin: 0px;
	margin-top: 5px;
	font-size: 12px;
}

input[type=text], input[type=password], select {
	width:100%;
	padding: 6px;
	font-weight:bold;
	border:1px solid #aaa;
	font-size: 11px;
	color:black;	
	background:white;	
}
input[type=checkbox] {
	float:left;
	margin-top:5px;
}
button {
	padding: 5px;padding-top: 10px;padding-right: 10px;
	font-weight: 500;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid transparent;
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
	background-color: #fafafa;
	color: #666;
	border-color: #ddd;
	border-bottom-color: #ddd;
	cursor: pointer;
}
button:hover {
	border: 1px solid #999;
	box-shadow: 0 1px 1px rgba(0,0,0,.2),inset 0 1px 0 rgba(255,255,255,.3);
	background-color: #ccc;
	background-image: -webkit-linear-gradient(bottom,#ccc 0%,#ccc 100%);
	background-image: linear-gradient(to top,#ccc 0%,#ccc 100%);
	color: #333;
}
button:disabled {
	border: 1px solid #999;
	box-shadow: 0 1px 1px rgba(0,0,0,.2),inset 0 1px 0 rgba(255,255,255,.3);
	background-color: #ccc;
	background-image: -webkit-linear-gradient(bottom,#ccc 0%,#ccc 100%);
	background-image: linear-gradient(to top,#ccc 0%,#ccc 100%);
	color: #333;
}
hr {
	float:left;
	margin-top:5px;
	margin-left:-5%;
	width:110%;
	border-color:white;
}
#loginbtns {
	margin-top:10px;
	width:100%;
	text-align:right;
}
#keepsigned {
	font-size:0.5em !important;
}
#pagelinks {
	margin-top:15px;
}
#pagelinks a {
	color: #AAA;
	margin-right:10px;
}
#errormsg {
	width:600px;
	height:100%;
	padding: 10px;
	border: 1px solid #eeb7ba;
    background-color: #fae2e2;
    background-image: -o-linear-gradient(top,  #fae2e2,  #f2cacb);
    background-image: -ms-linear-gradient(top,  #fae2e2,  #f2cacb);
    background-image: -moz-linear-gradient(top,  #fae2e2,  #f2cacb);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fae2e2), to(#f2cacb));
    background-image: -webkit-linear-gradient(top,  #fae2e2,  #f2cacb);
    background-image: linear-gradient(top,  #fae2e2,  #f2cacb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae2e2', endColorstr='#f2cacb');
    color: #be4741;
    text-shadow: 0 1px 1px #fff;
}
#loginFooter {
    color: #777;
    font-weight:plain;
    font-size:0.75em;
    padding:5px;
    position:absolute;
	bottom:0;
	left:0;
}
#loginFooter a {text-decoration:none;color:#333;font-weight:bold;font-size:1em;}
.loginicon,.reseticon {
	background:transparent url(images/login/house.png) no-repeat center center;
	width:20px;
	height:20px;
	float:left;
	margin-left:7px;
	margin-right:7px;
}
.loginicon {background: transparent url(images/login/accept.png) no-repeat center center;}
.reseticon {background: transparent url(images/login/refresh.png) no-repeat center center;}

.browserLogos {
	position:absolute;bottom:10px;right:10px;
}

@media screen and (max-device-width : 800px) {
	.browserLogos {
		display: none;
	}
	#screentable {
		background: transparent !important;
	}
}