/* CSS3 Compliant Stylesheet*/
html,body {
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	
	background: #e0f3fa; /* Old browsers */
	background: url(../../../services/?scmd=gensvg&from=DEF3FA&to=7893A1);
	background: -moz-linear-gradient(top, #DEF3FA 0%, #7893A1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DEF3FA), color-stop(100%,#7893A1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #DEF3FA 0%, #7893A1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #DEF3FA 0%,#7893A1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #DEF3FA 0%, #7893A1 100%); /* IE10+ */
	background: linear-gradient(top, #DEF3FA 0%, #7893A1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DEF3FA', endColorstr='#7893A1',GradientType=0 ); /* IE6-8 */
	
	display:block;
	
	font-family:Georgia;
}
img {
	margin-right:2px;
	border:0px;
}

label {
	float:left;
	width:100px;
	height:22px;
    font-weight:bold;
    color:#FFF;
    margin:0px;
    margin-top:5px;
}

input[type=text], input[type=password] {
	width:100%;
	height:18px;
	font-weight:bold;
	font-family:Georgia;
	border:1px solid #aaa;
	background:white;
}
select {
	width:100%;
	height:25px;
	float:right;
	font-weight:bold;
	
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	border-radius:5px;
	border:1px solid #aaa;
	
	font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
	font-size: 11px;
	color:black;	
	background:white;	
}
input[type=checkbox] {
	float:left;
	margin-top:5px;
}
button {
	width:110px;
	height:30px;
	font-size:1em;
	font-weight:bold;
	cursor:pointer;
	border-radius:1em;	
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-khtml-border-radius: 1em;
}
hr {
	float:left;
	margin-top:5px;
	margin-left:-5%;
	width:110%;
	border-color:white;
}
#screentable {	
}
#logindiv {
	width:350px;
	height:350px;
	margin-top:-160px;
	
	background: #356aa0;
	background: #356aa0 url(../../../services/?scmd=gensvg&from=356aa0&to=356aa0);
	background: -moz-linear-gradient(top, #356aa0 0%, #356aa0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#356aa0), color-stop(100%,#356aa0));
	background: -webkit-linear-gradient(top, #356aa0 0%,#356aa0 100%);
	background: -o-linear-gradient(top, #356aa0 0%,#356aa0 100%);
	background: -ms-linear-gradient(top, #356aa0 0%,#356aa0 100%);
	background: linear-gradient(top, #356aa0 0%,#356aa0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 );
	
	border:2px solid #356aa0;
    
    border-radius:1em;	
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-khtml-border-radius: 1em;
	
	border-shodow: 0 1px 50px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 1px 50px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 50px rgba(0, 0, 0, .4);
	box-shodow: 0 1px 50px rgba(0, 0, 0, .4);
}

#loginLogo {
	background: transparent url(images/login/lock.png) no-repeat center center;
	width:85px;
	height:85px;
	margin:0px;
}
#loginHeader {
    font-size: 25pt;
    font-weight: bold;
    color: #aaa;
    text-align:center;
    margin-bottom:10px;   
    
    text-shadow: -1px -1px white, 1px 1px #333; 
    
    display:none;
}
#loginForm {
	width:90%;
	height:125px;
	margin:auto;
	text-align:left;	
	padding:10px;
	padding-top:0px;
	
    border:0px;
    font-family:Georgia;
    font-size:1em;
}
#loginForm a {
	font-size:14px;
	font-family:Georgia;
	cursor:pointer;
	color:#C9D93F;
	text-decoration:none;
}
#loginForm a:hover {
	text-decoration:underline;
	color:#C1C973;
	font-weight:bold;
}
#loginbtns {
	margin-top:100px;
	width:100%;
	text-align:right;
}
#keepsigned {
	font-size:0.5em !important;
}
#pagelinks {
	margin-top:15px;
}
#pagelinks a {
	margin-right:10px;
}
#errormsg {
	width:600px;
	height:100%;
	
	border: 1px solid #eeb7ba;
    background-color: #fae2e2;
    background-image: -o-linear-gradient(top,  #fae2e2,  #f2cacb);
    background-image: -ms-linear-gradient(top,  #fae2e2,  #f2cacb);
    background-image: -moz-linear-gradient(top,  #fae2e2,  #f2cacb);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fae2e2), to(#f2cacb));
    background-image: -webkit-linear-gradient(top,  #fae2e2,  #f2cacb);
    background-image: linear-gradient(top,  #fae2e2,  #f2cacb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae2e2', endColorstr='#f2cacb');
    color: #be4741;
    text-shadow: 0 1px 1px #fff;
}
#loginFooter {
    color: #777;
    font-weight:plain;
    font-size:0.75em;
    padding:5px;
    position:absolute;
	bottom:0;
	left:0;
}
#loginFooter a {text-decoration:none;color:#333;font-weight:bold;font-size:1em;}
#loginicon,#reseticon {
	background:transparent url(images/login/house.png) no-repeat center center;
	width:20px;
	height:20px;
	float:left;
	margin-left:15px;
}
#loginicon {background: transparent url(images/login/accept.png) no-repeat center center;}
#reseticon {background: transparent url(images/login/refresh.png) no-repeat center center;}
