#ibox_wrapper {
    background: #222;    
    border:10px solid #444;
    
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    -moz-box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    zoom: 1;
	
    padding:0px;
    margin:0px;
    overflow-x:hidden;
}

#ibox_content { background: #222; border-color: #222; color: #fff; margin: 25px 0 0 0; padding: 10px; }
#ibox_footer_wrapper { left: 0; right: 0; top: 0; padding: 3px 10px; }
#ibox_footer_wrapper, #ibox_footer_wrapper a { color: #8dd6e2; background: #444; }
#ibox_footer_wrapper a { color: #8dd6e2; font-weight: bold; text-decoration: none; padding: 0 3px; }

